@page "/games"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Linq.Expressions
@using System.Runtime.Serialization.Formatters.Binary
@inject NavigationManager NavigationManager

<h1>Running Games</h1>

<div hidden="@IsConnected">connecting to server ...</div>

<ul>
    @foreach (var game in _games)
    {
        <li>@game</li>
    }
</ul>

<div class="form-group">
    <label>
        Game Name:<input @bind="_gameName" />
    </label>
</div>

<button @onclick="GameListUpdate" disabled="@(!IsConnected)">Create Game</button>

@code
{
    bool IsConnected => _hubConnection.State == HubConnectionState.Connected;
    private HubConnection _hubConnection;
    private readonly List<string> _games = new List<string>();
    private string _gameName;

    protected override async Task OnInitializedAsync()
    {

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/gamesHub"))
            .Build();

        _hubConnection.On<string>("GameListUpdate", (gameName) =>
        {
            _games.Add(gameName);
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

    async Task GameListUpdate()
    {
        await _hubConnection.SendAsync("GameListUpdate", _gameName);
        _gameName = string.Empty;
    }
}
