@page "/survival/game"

<h3>SurvivalGame</h3>

@if (false)
{
    <button class="btn btn-primary" @onclick="Start">Start</button>
}

@code {
    //bool gameStarted = false;

    //private Game.GameCreator = new Gam

    private void Start()
    {
     //   game = new Game.NotStartedGame
        }

}
